.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Dark {
  background-color: #000 !important;
  color: aliceblue !important;
}
.Dark a,
.Dark button {
  color: aliceblue;
}
.App {
  min-height: 100vh;
}
.EstiloCiruclo {
  width: 10px;
  height: 10px;
  display: inline-block;
  background-color: green;
  border-radius: 50%;
  margin-right: 10px;
}
